

<h1>Scrape</h1>

<label for="cars">Select category:</label>
<form id="scrapeForm">
<select name="category" id="category">
    <option value="Laptops">Laptops</option>
    <option value="TVs">TVs</option>
    <option value="Phones">Phones</option>
    <option value="Tablets">Tablets</option>
    <option value="Desktops">Desktop computers</option>
</select>
    <button type="submit">Submit</button>
</form>
<div id="resultContainer">

</div>
<script>
    document.getElementById('scrapeForm').addEventListener('submit', async(e)=>{
        e.preventDefault();
        const form = e.tartet;
        const formData = new FormData(form);

        const response = await fetch('@Url.Action("Start", "Scrape")', {
            method : 'POST',
            body : formData
        })

        const html = await response.text();
        document.getElementById('resultContainer').innerHTML = html;
    })
</script>